@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">RCL Identity Tools</h1>
    <p><a class="btn btn-primary" asp-page="./ProtectedPage">Protected Page</a></p>
</div>
