<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Identity Proofing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RCL.Identity.Proofing.Portal.styles.css" asp-append-version="true" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/icons/fonts/bootstrap-icons.css">
</head>
<body id="page-top">
    <partial name="_LoadingPartial" />
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand align-items-start justify-content-start link_click" asp-area="" asp-page="/Index">
                <div class="sidebar-brand-text mx-3"><i class="bi bi-person"></i> Identity</div>
            </a>
            <!-- End Sidebar - Brand -->
            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            @if (!string.IsNullOrEmpty(User?.Identity?.Name))
            {
                if (RCL.Core.Identity.Tools.GroupClaims.HasGroup(User, "UserAdmins"))
                {
                    <!-- Nav Item - User Approval -->
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseCertificate"
                            aria-expanded="true" aria-controls="collapseCertificate">
                            <i class="bi bi-check-circle"></i>
                            <span>User Approvals</span>
                        </a>
                        <div id="collapseCertificate" class="collapse" aria-labelledby="headingCertificate" data-bs-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <h6 class="collapse-header">Users</h6>
                                <a class="collapse-item link_click" asp-area="IdentityProofing" asp-page="/UserApproval/Index"><i class="bi bi-list-ul"></i> Approval Requests</a>
                            </div>
                        </div>
                    </li>
                    <!-- End Nav Item - User Approval -->
                    <hr class="sidebar-divider my-0">
                }
            }

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <header>
                    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-gray-900 border-bottom box-shadow mb-3">
                        <div class="container">
                            <a class="navbar-brand link_click" asp-area="" asp-page="/Index">Home</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse text-light">
                                <partial name="_LoginPartial" />
                                <ul class="navbar-nav flex-grow-1">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" target="_blank">
                                            <i class="bi bi-book"></i> <span>Docs</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" target="_blank">
                                            <i class="bi bi-chat-text"></i> <span>Support Forum</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </header>
                <!--End Topbar -->
                <!-- Page Content -->
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        <partial name="_LoadingPartial" />
                        @RenderBody()
                    </main>
                </div>
            </div>
            <!-- Main Content -->
        </div>
        <!-- End Content Wrapper -->
    </div>
    <!-- Page Wrapper -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>