@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="card shadow rounded">
    <div class="card-header">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <h4>Introduction</h4>
        <p>
            This Privacy Policy outlines how we will protect your personal information as you use this website.
        </p>
        <h4>Personal Information</h4>
        <p>
            We do not share your personal information with third parties nor do we store any information about your visit to this site.
            We collect the following personal information : email, first name, surname and nationality when you register for a Digital Identity.
            This information is collected with your consent and it is used to create your Digital Identity. We do not use your information for any other purpose. 
            We respect your privacy.
        </p>
        <h4>Cookies</h4>
        <p>
            When you use our website, we use cookies to collect standard internet login information.
            We do this to allow you to login to our website.
            Cookies are small text files that are placed on your device to help our website log you in.
            Cookies are stored on your individual device and you have full control over their use. You may deactivate or restrict the transmission of cookies by changing the settings of your web browser.
            Cookies that are already stored may be deleted at any time.
        </p>
    </div>
</div>
